*{
  margin: 0;
  padding:0;
}
h1{
  width: 1px;
  height: 1000px;
  position: absolute;
  left: 500px;
  background: #000;
}
div{
  position: absolute;
  width: 200px;
  height: 200px;
  background: #f00;
  color: #0f0;
  margin:10px 0 0 0;
  left: 0;
  border: 5px solid #ff0;
  margin-left: 10px;

}
.div1{
  top: 0;
}
.div2{
  top: 210px;
}
.div3{
  top: 420px;
}